## 사용 파이썬 점검

In [1]:
import site
site.getsitepackages()

['c:\\Users\\102\\anaconda3', 'c:\\Users\\102\\anaconda3\\lib\\site-packages']

## intro pandas

In [2]:
import pandas as pd
index = pd.date_range('1/1/2025', periods=8)
index

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08'],
              dtype='datetime64[ns]', freq='D')

In [7]:
index[:5]

DatetimeIndex(['2024-12-01', '2024-12-02', '2024-12-03', '2024-12-04',
               '2024-12-05'],
              dtype='datetime64[ns]', freq='D')

In [9]:
import numpy as np
import pandas as pd
index = pd.date_range('12/1/2024',periods = 8)

df = pd.DataFrame(np.random.rand(8, 3), index=index, columns=['A','B','C'])
df

                   A         B         C
2024-12-01  0.984416  0.713428  0.639851
2024-12-02  0.203418  0.816271  0.135021
2024-12-03  0.949194  0.147940  0.763698
2024-12-04  0.687841  0.286886  0.105142
2024-12-05  0.038659  0.033384  0.834231
2024-12-06  0.043927  0.674964  0.255009
2024-12-07  0.704080  0.594780  0.676752
2024-12-08  0.074227  0.139976  0.777001

In [10]:
import numpy as np
import pandas as pd
index = pd.date_range('1/1/2000',periods = 8)

df = pd.DataFrame(np.random.rand(8, 3), index=index, columns=['A','B','C'])
df['B']

2000-01-01    0.748840
2000-01-02    0.976347
2000-01-03    0.200907
2000-01-04    0.948772
2000-01-05    0.112497
2000-01-06    0.024827
2000-01-07    0.491536
2000-01-08    0.317000
Freq: D, Name: B, dtype: float64

In [12]:
df['B'][0]

0.37326141935802315

In [13]:
import numpy as np
import pandas as pd
index = pd.date_range('12/1/2024',periods = 8)

df = pd.DataFrame(np.random.rand(8, 3), index=index, columns=['A','B','C'])
print(df['B'] > 0.4)

2024-12-01     True
2024-12-02     True
2024-12-03     True
2024-12-04     True
2024-12-05    False
2024-12-06     True
2024-12-07    False
2024-12-08    False
Freq: D, Name: B, dtype: bool

In [14]:
import numpy as np
import pandas as pd
index = pd.date_range('1/1/2000',periods = 8)

df = pd.DataFrame(np.random.rand(8, 3), index=index, columns=['A','B','C'])
df

                   A         B         C
2000-01-01  0.325313  0.761300  0.090759
2000-01-02  0.829093  0.044619  0.485433
2000-01-03  0.335936  0.229170  0.311099
2000-01-04  0.336858  0.786694  0.480296
2000-01-05  0.929495  0.948377  0.891945
2000-01-06  0.470514  0.394240  0.755917
2000-01-07  0.316794  0.190496  0.061847
2000-01-08  0.595370  0.705600  0.933064

In [15]:
df2 = df[df['B'] > 0.4]
df2

                   A         B         C
2000-01-01  0.325313  0.761300  0.090759
2000-01-04  0.336858  0.786694  0.480296
2000-01-05  0.929495  0.948377  0.891945
2000-01-08  0.595370  0.705600  0.933064

In [16]:
df2.T

   2000-01-01  2000-01-04  2000-01-05  2000-01-08
A    0.325313    0.336858    0.929495    0.595370
B    0.761300    0.786694    0.948377    0.705600
C    0.090759    0.480296    0.891945    0.933064

In [17]:
import numpy as np
import pandas as pd
index = pd.date_range('1/1/2000',periods = 8)

df = pd.DataFrame(np.random.rand(8, 3), index=index, columns=['A','B','C'])
df

                   A         B         C
2000-01-01  0.543049  0.991809  0.880525
2000-01-02  0.384522  0.041658  0.468610
2000-01-03  0.333907  0.973569  0.953997
2000-01-04  0.171570  0.125063  0.972747
2000-01-05  0.570412  0.586098  0.332404
2000-01-06  0.394503  0.153930  0.716909
2000-01-07  0.518796  0.670805  0.116381
2000-01-08  0.133913  0.267080  0.751436

In [18]:
df['D'] = df['A'] / df['B']
df

                   A         B         C         D
2000-01-01  0.543049  0.991809  0.880525  0.547534
2000-01-02  0.384522  0.041658  0.468610  9.230501
2000-01-03  0.333907  0.973569  0.953997  0.342972
2000-01-04  0.171570  0.125063  0.972747  1.371868
2000-01-05  0.570412  0.586098  0.332404  0.973236
2000-01-06  0.394503  0.153930  0.716909  2.562870
2000-01-07  0.518796  0.670805  0.116381  0.773393
2000-01-08  0.133913  0.267080  0.751436  0.501397

In [19]:
df['E'] = np.sum(df, axis=1)
df

                   A         B         C         D          E
2000-01-01  0.543049  0.991809  0.880525  0.547534   2.962916
2000-01-02  0.384522  0.041658  0.468610  9.230501  10.125290
2000-01-03  0.333907  0.973569  0.953997  0.342972   2.604446
2000-01-04  0.171570  0.125063  0.972747  1.371868   2.641248
2000-01-05  0.570412  0.586098  0.332404  0.973236   2.462150
2000-01-06  0.394503  0.153930  0.716909  2.562870   3.828212
2000-01-07  0.518796  0.670805  0.116381  0.773393   2.079375
2000-01-08  0.133913  0.267080  0.751436  0.501397   1.653826

In [20]:
df['F'] = np.ones(8)
df.head(3)

                   A         B         C         D          E    F
2000-01-01  0.543049  0.991809  0.880525  0.547534   2.962916  1.0
2000-01-02  0.384522  0.041658  0.468610  9.230501  10.125290  1.0
2000-01-03  0.333907  0.973569  0.953997  0.342972   2.604446  1.0

In [21]:
df1 = df.drop(['E', 'F'], axis='columns')
df1.head()

                   A         B         C         D
2000-01-01  0.543049  0.991809  0.880525  0.547534
2000-01-02  0.384522  0.041658  0.468610  9.230501
2000-01-03  0.333907  0.973569  0.953997  0.342972
2000-01-04  0.171570  0.125063  0.972747  1.371868
2000-01-05  0.570412  0.586098  0.332404  0.973236

In [22]:
del df1['D']
df1.head()

                   A         B         C
2000-01-01  0.543049  0.991809  0.880525
2000-01-02  0.384522  0.041658  0.468610
2000-01-03  0.333907  0.973569  0.953997
2000-01-04  0.171570  0.125063  0.972747
2000-01-05  0.570412  0.586098  0.332404

In [31]:
df1.columns = ['a', 'b', 'c']
df1

              a         b         c
2000-01-01  0.0  0.448760  0.337476
2000-01-02  0.0 -0.342864  0.084088
2000-01-03  0.0  0.639662  0.620090
2000-01-04  0.0 -0.046507  0.801177
2000-01-05  0.0  0.015686 -0.238008
2000-01-06  0.0 -0.240573  0.322407
2000-01-07  0.0  0.152009 -0.402415
2000-01-08  0.0  0.133167  0.617523

In [32]:
df1.rename(columns = {'a': '2020', 'b': '2021'}, inplace=True)
df1.tail()

            2020      2021         c
2000-01-04   0.0 -0.046507  0.801177
2000-01-05   0.0  0.015686 -0.238008
2000-01-06   0.0 -0.240573  0.322407
2000-01-07   0.0  0.152009 -0.402415
2000-01-08   0.0  0.133167  0.617523

In [33]:
df1 = df1.sub(df1['2020'], axis='index')
df1.tail()

            2020      2021         c
2000-01-04   0.0 -0.046507  0.801177
2000-01-05   0.0  0.015686 -0.238008
2000-01-06   0.0 -0.240573  0.322407
2000-01-07   0.0  0.152009 -0.402415
2000-01-08   0.0  0.133167  0.617523

In [34]:
df1 = df1.div(df1['c'], axis='index')
df1.tail()

            2020      2021    c
2000-01-04   0.0 -0.058048  1.0
2000-01-05  -0.0 -0.065907  1.0
2000-01-06   0.0 -0.746177  1.0
2000-01-07  -0.0 -0.377743  1.0
2000-01-08   0.0  0.215647  1.0

In [35]:
df1.to_csv('test.csv')
df1

            2020      2021    c
2000-01-01   0.0  1.329754  1.0
2000-01-02   0.0 -4.077448  1.0
2000-01-03   0.0  1.031563  1.0
2000-01-04   0.0 -0.058048  1.0
2000-01-05  -0.0 -0.065907  1.0
2000-01-06   0.0 -0.746177  1.0
2000-01-07  -0.0 -0.377743  1.0
2000-01-08   0.0  0.215647  1.0

## Series

In [36]:
import numpy as np
import pandas as pd

s = pd.Series(np.arange(5))
s

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [37]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [39]:
s.index = list('ABCDE')
s

A    0
B    1
C    2
D    3
E    4
dtype: int32

In [41]:
s.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [40]:
s.name = 'basic'
s

A    0
B    1
C    2
D    3
E    4
Name: basic, dtype: int32

In [42]:
s.name

'basic'

In [43]:
s.values

array([0, 1, 2, 3, 4])

In [44]:
s * 2

A    0
B    2
C    4
D    6
E    8
Name: basic, dtype: int32

In [45]:
s[1:5]

B    1
C    2
D    3
E    4
Name: basic, dtype: int32

In [46]:
import pandas as pd
df = pd.read_csv('age.csv', encoding='cp949', index_col=0)
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'age.csv'

In [47]:
import pandas as pd
df = pd.read_csv('age.csv', encoding='cp949', index_col=0)
df.dtypes

FileNotFoundError: [Errno 2] No such file or directory: 'age.csv'

In [48]:
import pandas as pd
df = pd.read_csv('age.csv', encoding='cp949', index_col=0)

df = df.replace(',','',regex=True)
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'age.csv'

In [50]:
import pandas as pd
df = pd.read_csv('age.csv', encoding='cp949', index_col=0)

df = df.replace(',','',regex=True)

df = df.aplly(pd.to_numeric)
df.dtypes

FileNotFoundError: [Errno 2] No such file or directory: 'age.csv'

In [52]:
import pandas as pd
df = pd.read_csv('age.csv', encoding='cp949', index_col=0)

df = df.replace(',','',regex=True)

df = df.aplly(pd.to_numeric)
df = df.div(df['2021년11월_계_총인구수'], axis='index')
df.head(3)

FileNotFoundError: [Errno 2] No such file or directory: 'age.csv'

In [ ]:
import pandas as pd
df = pd.read_csv('age.csv', encoding='cp949', index_col=0)

df = df.replace(',','',regex=True)

df = df.aplly(pd.to_numeric)
df = df.div(df['2021년11월_계_총인구수'], axis='index')
del df['2021년11월_계_총인구수'], df['2021년11월_계-연령구간인구수']

df.head(3)