In [1]:
import sys

In [2]:
sys.version

'3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]'

In [3]:
type('hello')

str

In [4]:
type(3.6)

float

In [5]:
print(10*7)

70

In [6]:
print('Hi, everyone')

Hi, everyone

In [7]:
a = 2024
print(a)

2024

In [8]:
b = '여러분'
print(b + ' 안녕하세요!')

여러분 안녕하세요!

In [9]:
c = '새해'
print(str(a) + '년에도 ' + c + ' 복 많이 받으세요!')

2024년에도 새해 복 많이 받으세요!

In [10]:
name = input('이름 입력 >>')
name

이름 입력 >>김민수

'김민수'

In [11]:
name = input('이름 입력: ')
birth = input('출생 연도 입력: ')
age = 2023 - int(birth)
print('안녕하세요!    ' + name + '님!   ' + str(age) + '세이시군요!')

이름 입력: 김민수
출생 연도 입력: 2004
안녕하세요!    김민수님!   19세이시군요!

In [12]:
abs(-3)

3

In [13]:
bool('py')

True

In [14]:
for i in range(5):
    print(i * 2)

0
2
4
6
8

In [15]:
for i in range(1, 11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [16]:
for i in range(1, 11, 3):
    print(i)

1
4
7
10

In [17]:
for i in [10, 20, 30]:
    print(i)

10
20
30

In [18]:
for i in {10:'십', 20:'이십', 30:'삼십'}:
    print(i)

10
20
30

In [20]:
data[10]

NameError: name 'data' is not defined

In [21]:
import random

dice = random.randint(1, 6)
print(dice)

2

In [22]:
import math

print(math.sqrt(2))
print(math.sqrt(4))

1.4142135623730951
2.0

In [23]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [24]:
test_score = [ 80, 70, 90, 100]
for score in test_score:
    print(score)

80
70
90
100

In [25]:
test_name = ['국어', '영어', '수학', '과학']
for name in test_name:
    print(name)

국어
영어
수학
과학

In [26]:
if (10 > 0):
    print('안녕하세요!')

안녕하세요!

In [27]:
p = input('패스워드 입력: ')
if(int(p) == 12345):
    print('로그인 됨')
elif(int(p) == 11111):
    print('관리자 권한')
else:
    print('로그인 실패')

패스워드 입력: 1412421
로그인 실패

In [31]:
a1 = [1,2,3,4,5]
print(type(a1))

<class 'types.GenericAlias'>

In [30]:
a2 = ['월','화','수','목','금','토']
print(type(a2))

<class 'list'>

In [32]:
a3 = [1,2,3,4,5,'월','화','수','목','금','토']
print(type(a3))

<class 'list'>

In [33]:
a2 = ['월','화','수','목','금','토']
print(type(a2))

<class 'list'>

In [38]:
a2 = ['월','화','수','목','금','토']
print(a2[0])
print(a2[1])
print(a2[2])
print(a2[3])
print(a2[4])
print(a2[5])

월
화
수
목
금
토

In [40]:
a2 = ['월','화','수','목','금','토']
print(a2[-1])
print(a2[-2])
print(a2[-3])
print(a2[-4])
print(a2[-5])
print(a2[-6])

토
금
목
수
화
월

In [41]:
a2 = ['월','화','수','목','금','토']
print(a2[0:2])
print(a2[1:4])
print(a2[1:])
print(a2[:3])
print(a2[:])

['월', '화']
['화', '수', '목']
['화', '수', '목', '금', '토']
['월', '화', '수']
['월', '화', '수', '목', '금', '토']

In [42]:
a1 = [1,2,3,4,5]
print(a1)
print(len(a1))
a1.append(6)
print(a1)
print(len(a1))

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 5, 6]
6

In [43]:
a2 = ['월','화','수','목','금','토']
print(a2)
print(len(a2))
a2.append('일')
print(a2)
print(len(a2))

['월', '화', '수', '목', '금', '토']
6
['월', '화', '수', '목', '금', '토', '일']
7